.env
.env-example
*.pdf
*.png
*.pyc

data/
local_data/
model/
wandb/
legacy_notebooks/
reddit_results/
.vscode/
.virtual_documents/
__pychache__/
jupyterlab_GPU/
figures/**
results/**
docker-compose.yml
build.sh
build.sh.save

run_reddit.py
run_redditv2.py
model_experimental.py

sandbox.ipynb
train_reddit.ipynb
